@page "/"
@inherits IndexComponent

<!-- Message Container -->
<div class="index-container">
    <div style="grid-area: message">
        <h3>AutoLazer</h3>
        <p>AutoLazer is the AutoList tools built in a completely new framework called <b>Blazor</b></p>
    </div>

    <!-- Main text input area -->
    <textarea class="autolist-textarea" 
        id="input-area" placeholder="Enter text here..." 
        style="grid-area: input" oninput="@InputAreaOnKeyUp"></textarea>

    <!-- Length output area -->
    <textarea class="autolist-textarea" 
        id="length-output" readonly
        style="grid-area: length-output">@TotalLength</textarea>

    <!-- Area output area -->
    <textarea class="autolist-textarea"
        id="area-output" readonly
        style="grid-area: area-output">@TotalArea</textarea>

    <!-- Block table and download button only visable if the number of blocks is greater than 0 -->
    @if (Blocks.Count > 0)
    {
        <!-- Download button -->
        <button class="download-button" style="grid-area: download-button" onclick="@DownloadFile">
            Download Blocks
        </button>

        <!-- Block table -->
        <table class="table table-hover table-striped" style="grid-area: block-table">
            <thead>
                <tr>
                    <th>Block ID</th>
                    <th>Frontage (@LinearUnit)</th>
                    <th>Area</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var block in Blocks)
                {
                    <tr>
                        <td>@block.Id</td>
                        <td>@(block.Frontage) @(LinearUnit)</td>
                        <td>@(block.Area) @(AreaUnit)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
